In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import r2_score,mean_squared_error
from sklearn import preprocessing

%matplotlib inline

import warnings
warnings.filterwarnings("ignore")
pd.set_option('precision', 3)
from IPython.core.display import HTML as Center

Center(""" <style>
.output_png {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
</style> """)

In [9]:
df = pd.read_excel('MPG_data_for_ml.xlsx')

In [10]:
df.head()

,Unnamed: 0,MPG,Displacement,Horsepower,Weight,Acceleration,Model Year,Brand,Cylinders_3,Cylinders_4,Cylinders_5,Cylinders_6,Cylinders_8,Origin_Europe,Origin_Japan,Origin_USA,Fuel_Consumption_high,Fuel_Consumption_low,Fuel_Consumption_medium
0,0,18.0,307.0,130.0,3504,12.0,1970,Chevrolet,0,0,0,0,1,0,0,1,0,0,1
1,1,15.0,350.0,165.0,3693,11.5,1970,Buick,0,0,0,0,1,0,0,1,1,0,0
2,2,18.0,318.0,150.0,3436,11.0,1970,Plymouth,0,0,0,0,1,0,0,1,0,0,1
3,3,16.0,304.0,150.0,3433,12.0,1970,AMC,0,0,0,0,1,0,0,1,1,0,0
4,4,17.0,302.0,140.0,3449,10.5,1970,Ford,0,0,0,0,1,0,0,1,0,0,1

In [11]:
df = df.drop(['Brand', 'Fuel_Consumption_high','Fuel_Consumption_medium','Fuel_Consumption_low'],  axis=1)

## Chosen model

In [12]:
X = df.drop('MPG', axis=1)
y = df.MPG
X.head()

,Unnamed: 0,Displacement,Horsepower,Weight,Acceleration,Model Year,Cylinders_3,Cylinders_4,Cylinders_5,Cylinders_6,Cylinders_8,Origin_Europe,Origin_Japan,Origin_USA
0,0,307.0,130.0,3504,12.0,1970,0,0,0,0,1,0,0,1
1,1,350.0,165.0,3693,11.5,1970,0,0,0,0,1,0,0,1
2,2,318.0,150.0,3436,11.0,1970,0,0,0,0,1,0,0,1
3,3,304.0,150.0,3433,12.0,1970,0,0,0,0,1,0,0,1
4,4,302.0,140.0,3449,10.5,1970,0,0,0,0,1,0,0,1

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train_scaled, X_test_scaled = preprocessing.scale(X_train), preprocessing.scale(X_test)
y_train_scaled, y_test_scaled = preprocessing.scale(y_train), preprocessing.scale(y_test)

In [14]:
lasso = Lasso(alpha=0.1, max_iter=1000)
lasso.fit(X_train_scaled, y_train_scaled)

lasso_pred =lasso.predict(X_test_scaled)

print(f'Train score: {lasso.score(X_train_scaled, y_train_scaled)}')

print(f'Test score: {lasso.score(X_test_scaled, y_test_scaled)}')

print(f'Overall model accuracy: {r2_score(y_test_scaled, lasso_pred)}')

print(f'Mean Squared Error: {mean_squared_error(y_test_scaled, lasso_pred)}')

Train score: 0.7823907853191758
Test score: 0.78171700635807
Overall model accuracy: 0.78171700635807
Mean Squared Error: 0.21828299364193016